@CHARSET "ISO-8859-1";

.main-nav-container{
    width: 100%;
    overflow: hidden;
    background-color: #eeeeee;	
}

.main-nav{
	float: right;
	clear: both;
}

.main-nav ul li{
	list-style: none;
	border: 1px solid #CCCCCC;
	float: left;
    margin: 0 0 10px 10px;
    padding: 4px;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #FFFFFF inset;
}

.main-nav ul li:hover{
	background: none repeat scroll 0 0 #FFFFFF;
}