@CHARSET "ISO-8859-1";

body {
    color: #333;
    font: 100%/1.5 Cambria, Georgia, serif;
    background: #ece6d6 url(_assets/bg-light.png) repeat;
    margin: 0 auto;
    padding: 1em 20%; /* temporary */
}

h1 {
    color: #2c1c16;
    font-family: 'Proxima Nova Bold',sans-serif;
    font-weight: bold;
    font-size: 1.75em; /* 28px */
    line-height: 1.1428; /* 32px */
    margin-top: 0.8571em; /* 24px */
}







